/* General variables and imports */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@font-face {
  font-family: 'FoundryMonolineRegular';
  src: url(../fonts/foundmonreg-webfont.eot);
  src: local("Foundry Monoline Regular"), local("Foundry Monoline Regular"), url(../fonts/foundmonreg-webfont.woff) format("woff"), url(../fonts/foundmonreg-webfont.ttf) format("truetype"), url(../fonts/foundmonreg-webfont.svg#FoundryMonolineRegular) format("svg");
}
@font-face {
  font-family: 'FoundryMonolineMedium';
  src: url(../fonts/foundmonmed-webfont.eot);
  src: local("Foundry Monoline Medium"), local("Foundry Monoline Medium"), url(../fonts/foundmonmed-webfont.woff) format("woff"), url(../fonts/foundmonmed-webfont.ttf) format("truetype"), url(../fonts/foundmonmed-webfont.svg#FoundryMonolineMedium) format("svg");
}
body {
  background-color: #eee;
}

/* Top navigation */
.navmenu {
  height: 88px;
}
.navmenu__logo {
  display: inline-block;
  height: 88px;
  line-height: 84px;
}
.navmenu__items {
  float: right;
}
.navmenu__item {
  display: inline-block;
  line-height: 88px;
  margin-left: 15px;
  font-weight: bold;
  position: relative;
  height: 100%;
}
.navmenu__item a {
  display: inline-block;
  height: 100%;
  color: #999;
  text-decoration: none;
  transition: color 200ms;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.navmenu__item:hover a, .navmenu__item.active a {
  color: #555;
}
.navmenu__item:after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 0px;
  background-color: #d555c7;
  transition: height 200ms;
}
.navmenu__item:hover:after, .navmenu__item.active:after {
  height: 7px;
}
.navmenu .offmenu-toggle {
  text-decoration: none;
  font: 200 1em/88px "FoundryMonolineMedium", "Open Sans", "Helvetica Neue", sans-serif;
  color: #2b353e;
  margin-top: 3px;
}
.navmenu .offmenu-toggle img {
  margin-left: 15px;
  margin-top: -5px;
}

.slider {
  height: 470px;
  background-color: #000;
}

.highlights {
  min-height: 198px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  padding-bottom: 50px;
}
.highlights .highlight__item {
  padding: 45px 35px 0;
}
.highlights .highlight__item__header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  float: left;
  margin-bottom: 15px;
}
.highlights .highlight__item__body {
  display: block;
  float: left;
  line-height: 1.5;
}
@media screen and (max-width: 991px) {
  .highlights .highlight__item {
    padding-top: 30px;
  }
  .highlights .highlight__item__header {
    margin-bottom: 5px;
  }
  .highlights .highlight__item__body {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 991px) {
  .highlights {
    padding-bottom: 0;
  }
}

.duoxlogo {
  width: 182px;
}

.duoxclean {
  width: 210px;
  vertical-align: top;
  margin-top: 7px;
}

.icon {
  width: 22px;
  height: 22px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  float: left;
}
.icon--time {
  background-image: url("../img/icon_time.png");
}
.icon--support {
  background-image: url("../img/icon_support.png");
}
.icon--rocket {
  background-image: url("../img/icon_rocket.png");
}

.features {
  padding-top: 50px;
}
.features .row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.feature {
  -webkit-perspective: 1000;
          perspective: 1000;
  transition: all 600ms;
  display: inline-block;
  position: relative;
  margin: 2px;
  -webkit-transform: scale(1) translateY(0) translateZ(0);
          transform: scale(1) translateY(0) translateZ(0);
}
.feature.inview .feature__content {
  -webkit-animation: enter 1s;
          animation: enter 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  opacity: 1;
}
@-webkit-keyframes enter {
  0% {
    opacity: 0;
    -webkit-transform: rotate3d(1, 0, 0, 83deg);
            transform: rotate3d(1, 0, 0, 83deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
            transform: rotate3d(1, 0, 0, 0deg);
  }
}
@keyframes enter {
  0% {
    opacity: 0;
    -webkit-transform: rotate3d(1, 0, 0, 83deg);
            transform: rotate3d(1, 0, 0, 83deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
            transform: rotate3d(1, 0, 0, 0deg);
  }
}
.feature, .feature__content__front, .feature__content__back {
  width: 255px;
  height: 255px;
}
.feature__content {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  opacity: 0;
  /* back, initially hidden pane */
}
.feature__content__front, .feature__content__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: all 600ms;
}
.feature__content__front {
  z-index: 2;
  /* for firefox 31 */
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  background-color: #d6ddde;
  background-image: url("../img/feature_bg.jpg");
  background-position: center;
  background-size: 99%;
  background-repeat: no-repeat;
  padding: 15px;
  transition: all 600ms;
}
.feature__content__back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #eee;
  font-size: 15px;
  width: 285px;
  overflow: hidden;
}
.feature.active .feature__content {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.feature.active .feature__content__front, .feature.active .feature__content__back {
  height: 370px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
.feature.active {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateY(-30px) translateX(15px);
          transform: translateY(-30px) translateX(15px);
  z-index: 10;
}
.feature__icon {
  text-align: center;
  line-height: 225px;
  transition: all 350ms;
}
.feature__highlight {
  width: 100%;
  height: 0px;
  background-color: #d555c7;
  position: absolute;
  bottom: -255px;
  z-index: 10;
  transition: all 133.33333ms;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.feature:hover .feature__highlight {
  height: 40px;
}
.feature:hover .feature__icon {
  line-height: 175px;
}
.feature:hover .feature__content__front {
  background-position: 100% 65%;
  background-size: 110%;
}
.feature .backtop {
  background-color: #d6ddde;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.feature .backtop img {
  height: 40px;
  width: auto;
}
.feature .backbottom {
  padding: 20px;
}
.feature .backbottom .header {
  font-family: 'FoundryMonolineMedium', sans-serif;
  font-size: 24px;
  line-height: 1;
}
.feature .backbottom .description {
  font-size: 15px;
  margin-top: 10px;
  line-height: 1.5;
  font-weight: 300;
}

footer {
  height: 250px;
  background-color: #d555c7;
  margin-top: 100px;
  line-height: 250px;
  color: #fff;
  font-family: 'FoundryMonolineRegular', sans-serif;
  font-size: 18px;
}

/* offcanvas menu */
.mm-next {
  width: 100% !important;
  height: 60px !important;
}
.mm-next:before {
  border-color: transparent;
}
.mm-next:after {
  top: 26px !important;
}

.mm-vertical .mm-listview .mm-panel {
  padding: 0;
}

.mm-vertical .mm-listview .mm-panel ul li a {
  padding: 15px 0 15px 40px !important;
  font-size: 1.1em;
}

.top-level {
  font-size: 1.5em;
  padding: 20px 10px 20px 20px !important;
}

.distributors {
  background-color: #ddd;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(23, 23, 23, 0.1) 25%, transparent);
  margin: 100px 0;
  height: 350px;
  border: solid #CCC;
  border-width: 10px 0;
  color: #333;
  font-family: "FoundryMonolineMedium", "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 370px;
}
@media screen and (max-width: 991px) {
  .distributors {
    line-height: 150px;
    text-align: center;
    padding-top: 10px;
    height: auto;
    background-image: linear-gradient(to right, rgba(23, 23, 23, 0.2), rgba(255, 255, 255, 0.1));
  }
}
.distributors h1 {
  font-size: 3.2em;
  display: inline-block;
}
.distributors .container {
  position: relative;
}
.distributors .boton {
  background-color: #d555c7;
  color: #fff;
  width: 300px;
  height: 100px;
  font: 1.8em/1 "FoundryMonolineRegular", "Open Sans", "Helvetica Neue", sans-serif;
  padding: 15px;
  text-align: center;
  display: inline-block;
  transition: all 200ms;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.distributors .boton:hover {
  background-color: #d861cb;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.aparatos {
  position: absolute;
  top: -50%;
  right: 0;
  -webkit-filter: drop-shadow(0 0 5px black);
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
}

/*# sourceMappingURL=style.css.map */