/* General variables and imports */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@font-face {
  font-family: 'FoundryMonolineRegular';
  src: url(../fonts/foundmonreg-webfont.eot);
  src: local("Foundry Monoline Regular"), local("Foundry Monoline Regular"), url(../fonts/foundmonreg-webfont.woff) format("woff"), url(../fonts/foundmonreg-webfont.ttf) format("truetype"), url(../fonts/foundmonreg-webfont.svg#FoundryMonolineRegular) format("svg");
}
@font-face {
  font-family: 'FoundryMonolineMedium';
  src: url(../fonts/foundmonmed-webfont.eot);
  src: local("Foundry Monoline Medium"), local("Foundry Monoline Medium"), url(../fonts/foundmonmed-webfont.woff) format("woff"), url(../fonts/foundmonmed-webfont.ttf) format("truetype"), url(../fonts/foundmonmed-webfont.svg#FoundryMonolineMedium) format("svg");
}
body {
  background-color: #eee;
}

/* Top navigation */
.navmenu {
  height: 88px;
}
.navmenu__logo {
  display: inline-block;
  height: 88px;
  line-height: 84px;
}
.navmenu__items {
  float: right;
}
.navmenu__item {
  display: inline-block;
  line-height: 88px;
  margin-left: 15px;
  font-weight: bold;
  position: relative;
  height: 100%;
}
.navmenu__item a {
  display: inline-block;
  height: 100%;
  color: #999;
  text-decoration: none;
  transition: color 200ms;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.navmenu__item:hover a, .navmenu__item.active a {
  color: #555;
}
.navmenu__item:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0px;
  background-color: #d555c7;
  transition: height 200ms;
}
.navmenu__item:hover:after, .navmenu__item.active:after {
  height: 7px;
}

.slider {
  height: 470px;
  background-color: #000;
}

.highlights {
  min-height: 198px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  padding-bottom: 50px;
}
.highlights .highlight__item {
  padding: 45px 35px 0;
}
.highlights .highlight__item__header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  float: left;
  margin-bottom: 15px;
}
.highlights .highlight__item__body {
  display: block;
  float: left;
  line-height: 1.5;
}

.icon {
  width: 22px;
  height: 22px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  float: left;
}
.icon--time {
  background-image: url("../img/icon_time.png");
}
.icon--support {
  background-image: url("../img/icon_support.png");
}
.icon--rocket {
  background-image: url("../img/icon_rocket.png");
}

.features {
  padding-top: 50px;
}
.features .row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.feature {
  -webkit-perspective: 1000;
          perspective: 1000;
  transition: all 600ms;
  display: inline-block;
  position: relative;
  margin: 2px;
  -webkit-transform: scale(1) translateY(0) translateZ(0);
          transform: scale(1) translateY(0) translateZ(0);
}
.feature, .feature__content__front, .feature__content__back {
  width: 255px;
  height: 255px;
}
.feature__content {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  /* back, initially hidden pane */
}
.feature__content__front, .feature__content__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: all 600ms;
}
.feature__content__front {
  z-index: 2;
  /* for firefox 31 */
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  background-color: #d6ddde;
  background-image: url("../img/feature_bg.jpg");
  background-position: center;
  background-size: 99%;
  background-repeat: no-repeat;
  padding: 15px;
  transition: all 600ms;
}
.feature__content__back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #eee;
  font-size: 15px;
  width: 285px;
  overflow: hidden;
}
.feature.active .feature__content {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.feature.active .feature__content__front, .feature.active .feature__content__back {
  height: 370px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
.feature.active {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateY(-30px) translateX(15px);
          transform: translateY(-30px) translateX(15px);
  z-index: 10;
}
.feature__icon {
  text-align: center;
  line-height: 225px;
  transition: all 350ms;
}
.feature__highlight {
  width: 100%;
  height: 0px;
  background-color: #d555c7;
  position: absolute;
  bottom: -255px;
  z-index: 10;
  transition: all 133.33333ms;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.feature:hover .feature__highlight {
  height: 40px;
}
.feature:hover .feature__icon {
  line-height: 175px;
}
.feature:hover .feature__content__front {
  background-position: 100% 65%;
  background-size: 110%;
}

.backtop {
  background-color: #d6ddde;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.backtop img {
  height: 40px;
  width: auto;
}

.backbottom {
  padding: 20px;
}
.backbottom .header {
  font-family: 'FoundryMonolineMedium', sans-serif;
  font-size: 24px;
  line-height: 1;
}
.backbottom .description {
  font-size: 15px;
  margin-top: 10px;
  line-height: 1.5;
  font-weight: 300;
}

footer {
  height: 250px;
  background-color: #d555c7;
  margin-top: 100px;
  line-height: 250px;
  color: #fff;
  font-family: 'FoundryMonolineRegular', sans-serif;
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */